* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #EAEDED;
}

.App .Navbarr {
  color: white;
  background-color: #131921 !important;
}
.App .Navbarr .NavbarToggler {
  background-color: rgb(97, 97, 97);
}
.App .Navbarr .MainImg img {
  width: 100px;
}
.App .Navbarr .Location {
  width: 100px;
  display: flex;
  align-items: center;
}
.App .Navbarr .Location .iconLocation {
  color: gray;
  font-size: 1.5rem;
}
.App .Navbarr .Location p {
  line-height: 18px;
  font-weight: 600;
  font-size: 1.2rem;
}
.App .Navbarr .Location p span {
  color: rgba(255, 255, 255, 0.801);
  font-size: 0.9rem;
  font-weight: 400;
}
.App .Navbarr .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .Navbarr .input select {
  background-color: rgba(255, 255, 255, 0.95);
  width: 50px;
  padding: 10px 0px;
  border-radius: 10px 0px 0px 10px;
  outline: none;
  border: none;
}
.App .Navbarr .form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .Navbarr .form input {
  width: 600px;
  height: 43.7px;
  outline: none;
  border: none;
}
.App .Navbarr .form button {
  height: 43.7px;
  width: 50px;
  outline: none;
  border: none;
  border-radius: 0px 10px 10px 0px;
  background-color: #FEBD69;
  font-size: 1.1rem;
}
.App .Navbarr .lang {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
.App .Navbarr .lang img {
  width: 30px;
  height: 30px;
}
.App .Navbarr .lang .inputs select {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  width: 15px;
}
.App .Navbarr .lang .inputs select option {
  width: 50px;
  outline: none;
  border: none;
}
.App .Navbarr .SignIn {
  margin-left: 50px;
  width: 150px;
  justify-content: center;
  align-items: center;
}
.App .Navbarr .SignIn p {
  color: white;
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 600;
}
.App .Navbarr .SignIn p a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.904);
  font-size: 0.9rem;
  font-weight: 400;
}
.App .Navbarr .Returns {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  margin-left: 5px;
}
.App .Navbarr .Returns p {
  font-size: 1.2rem;
  line-height: 20px;
  font-weight: 600;
}
.App .Navbarr .Returns span {
  color: rgba(255, 255, 255, 0.904);
  font-size: 0.9rem;
  font-weight: 400;
}
.App .Navbarr .shopCar {
  color: white;
  font-size: 1.5rem;
}
.App .naveLinks {
  background-color: #232F3E;
  width: 100%;
  height: 45px;
  padding: 10px 20px;
}
.App .naveLinks a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
}
.App .header {
  position: relative;
  min-height: 3300px;
}
.App .header .swiper {
  width: 100%;
  height: 85vh;
}
.App .header .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.App .header .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.App .header .cardsP1 {
  position: absolute;
  top: 350px;
  z-index: 999;
}
.App .header .cardsP1 .card {
  width: 350px;
  height: 400px;
  background-color: white;
  margin-bottom: 70px;
  margin-right: 70px;
  border-radius: 0px;
}
.App .header .cardsP1 .card h5 {
  font-size: 1rem;
  margin: 20px;
}
.App .header .cardsP1 .card .position {
  position: relative;
  height: 300px;
}
.App .header .cardsP1 .card .position .position_topleft {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 50%;
  width: 60%;
}
.App .header .cardsP1 .card .position .position_topright {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 50%;
  width: 55%;
}
.App .header .cardsP1 .card .position .position_bottomleft {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50%;
  width: 60%;
}
.App .header .cardsP1 .card .position .position_bottomright {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 50%;
  width: 60%;
}
.App .header .cardsP1 .card .position7 {
  position: relative;
  height: 300px;
}
.App .header .cardsP1 .card .position7 .position_topleft {
  z-index: 3;
  position: absolute;
  top: 0px;
  left: 20px;
  height: 50%;
  width: 45%;
}
.App .header .cardsP1 .card .position7 .position_topright {
  position: absolute;
  top: 0px;
  right: 20px;
  height: 50%;
  width: 45%;
}
.App .header .cardsP1 .card .position7 .position_bottomleft {
  z-index: 3;
  position: absolute;
  bottom: 0px;
  left: 20px;
  height: 50%;
  width: 45%;
}
.App .header .cardsP1 .card .position7 .position_bottomright {
  position: absolute;
  bottom: 0px;
  right: 20px;
  height: 50%;
  width: 45%;
}
.App .header .cardsP1 .card .singleImg {
  height: 280px;
  width: 90%;
  margin-left: 17px;
}
.App .header .cardsP1 .card a {
  text-decoration: none;
  margin: 15px;
}
.App .header .swiper_p1 .swiper {
  width: 100%;
  height: 100%;
  background-color: #eaeded;
  padding: 20px 0;
}
.App .header .swiper_p1 .swiper .swiper-slide {
  margin: 10px 0;
  background-color: white;
  padding: 20px 0;
}
.App .header .swiper_p1 .swiper .swiper-slide img {
  width: 100%;
  height: 250px;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}
.App footer {
  background-color: #232f3e;
  padding: 50px 0;
}
.App footer p {
  color: white;
  font-size: 20px;
}
.App footer .col-md-3 {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
.App footer a {
  color: #DDD;
  text-decoration: none;
  margin: 5px 0;
  font-size: 15px;
}
.App footer a:hover {
  color: white;
}/*# sourceMappingURL=App.css.map */